<section>
    <div class="div3">
      <h1>DISPLAY</h1>
      <h1>PRODUÇÃO<span></span></h1>
    </div>

    <!-- <div class="div2">
      <div>
        <p><button class="button" (click)="openDialog()">Imposto</button></p>
        <p class="value">{{ imposto | number : "1.0-0" }}</p>
      </div>
      <div>
        <p>Previsto</p>
        <p class="value">
          {{ previsto | number : "1.0-0" }}
        </p>
      </div>
      <div>
        <p>Realizado</p>
        <p class="value text_black" [ngStyle]="{ 'background-color': '#00FF00' }">{{ realizado | number : "1.0-0" }}</p>
      </div>
      <div>
        <p>Delta</p>
        <p class="value text_black " [ngStyle]="{'background-color':0 <= realizado - previsto   ? '#00FF00' : 'red'
        }">{{ realizado - previsto | number :"1.0-0" }}</p>
      </div>
      <div>
        <p>Delta(%)</p>
        <p class="value text_black" [ngStyle]="{
          'background-color':
            0 > ((previsto - realizado) / previsto) * 100   ? '#00FF00' : 'red'
        }">
          {{
          ((realizado - previsto) / previsto) * 100 | number : "1.0-0"
          }}
        </p>
      </div>
    </div>

    <div class="div4">
      <div>
        <p>Impostação Horaria</p>
        <p class="value">{{ imposto / shiftTime | number : "1.0-0" }}</p>
      </div>
      <div>
        <p>Média Horaria</p>
        <p class="value text_black" [ngStyle]="{ 'background-color': '#00FF00' }">{{realizado/(effectiveTime/60) |
          number
          : "1.0-0" }}</p>
      </div>
      <div>
        <p>TC Impostado</p>
        <p class="value">{{TCimpostado | number : "1.0-0" }}</p>
      </div>
      <div>
        <p>TC Médio Realizado</p>
        <p class="value text_black" [ngStyle]="{ 'background-color': '#00FF00' }">{{3600/(realizado/(effectiveTime/60))
          |
          number : "1.0-0" }}</p>
      </div>
    </div> -->


    <table class="div1">
      <tr>
        <th class="border-th">Operação</th>
        <td *ngFor="let item of nodemcu" [ngStyle]="{
            'background-color': item.state === 'verde' ? '#00FF00':  (item.state === 'azul' ? '#5ac5e9' : 'red')
          }">
          {{ item.nameId.name }}
        </td>
      </tr>
      <tr>
        <th>TC médio do turno</th>
        <td *ngFor="let item of nodemcu" [ngStyle]="{
            'background-color': item.tcmedio <= TCimpostado ? '#00FF00' : 'red'
          }">
          {{ item.tcmedio }}
        </td>
      </tr>
      <tr>
        <th>Quantidade</th>
        <td *ngFor="let item of nodemcu" [ngStyle]="{ 'background-color': '#00FF00' }">
          {{ item.count }}
        </td>
      </tr>
      <tr>
        <th>Qtde em manutenção</th>
        <td *ngFor="let item of nodemcu" [ngStyle]="{ color: 'white' }">
          {{ item.maintenance }}
        </td>
      </tr>
      <tr>
        <th>Qtde de TC excedido</th>
        <td *ngFor="let item of nodemcu" [ngStyle]="{ 'background-color': '#00FF00' }">
          {{ item.qtdeTCexcedido }}
        </td>
      </tr>
      <tr>
        <th>3º Último TC</th>
        <td *ngFor="let item of nodemcu" [ngStyle]="{
            'background-color':
            TCimpostado >= item.secondtlastTC ? '#00FF00' : ((TCimpostado * 3) <= item.secondtlastTC  ? 'red' : '#5ac5e9')
          }">
          {{ item.secondtlastTC }}
        </td>
      </tr>
      <tr>
        <th>2º Último TC</th>
        <td *ngFor="let item of nodemcu" [ngStyle]="{
            'background-color':
            TCimpostado >= item.firtlastTC ? '#00FF00' : ((TCimpostado * 3) <= item.firtlastTC  ? 'red' : '#5ac5e9')
          }">
          {{ item.firtlastTC }}
        </td>
      </tr>
      <tr>
        <th>1º Último TC</th>
        <td *ngFor="let item of nodemcu" [ngStyle]="{
            'background-color':
            TCimpostado >= item.currentTC ? '#00FF00' : ((TCimpostado * 3) <= item.currentTC  ? 'red' : '#5ac5e9')
          }">
          {{ item.currentTC }}
        </td>
      </tr>
      <tr>
        <th>Tempo Ciclo Atual</th>
        <td *ngFor="let item of nodemcu" [ngStyle]="{
            'background-color':
            TCimpostado >= item.localTC ? '#00FF00' : ((TCimpostado * 3) <= item.localTC  ? 'red' : '#5ac5e9')
          }">
          {{ item.localTC }}
        </td>
      </tr>
    </table>
  </section>